*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    height: 100%;
}

.header{
    background-color: #034A8C;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
}

.header-left{
    display: flex;
    align-items: center;
}

.header-left img{
    width: 40px;
    background-color: #034A8C;
}

.header-left h1{
    font-size: 24px;
    color: white;
    text-decoration: none;
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
}

.header-user{
    display: flex;
}

.header-user a{
    padding: 0 12px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-user a:hover{
    color: #034A8C;
    background-color: white;
}

.header-icon{
    height: 60px;
    display: flex;
    align-items: center;
}

.header-icon img{
    height: 40px;
    width: 40px;
    margin: 0 2px;
}

.header-icon a:hover{
    background-color: #034A8C;
}

.header-left label{
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

.header-left img{
    width: 20px;
    height: 20px;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin-bottom: -40px;
}

.body-sidebar{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    position: fixed;
    z-index: 98;
    top: 0;
}

.sidebar-content {
    width: 260px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
    position: absolute;
    z-index: 99;
    transform: translateX(-100%);
    transition: 0.5s;
}

#sidebar-active {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

#sidebar-active:checked+#sidebar-content {
    transform: translateX(0);
}

:root {
    --primary-color: #695CFE;
    --primary-color-light: #034A8c	;
    --text-color: #034A8C;
    --sidebar-color:white ;
  }

.sidebar .text {
    font-size: 16px;
    font-weight: 1000;
    columns: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--sidebar-color);
    transition: var(--tran-05);
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar .search-box {
    background: var(--primary-color-light);
    border-radius: 6px;
}

.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    background: var(--primary-color-light);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

.menu-links .nav-link {
    border-bottom: 1px solid #c0c0c0;
}

.main{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

.main-main{
    width: 800px;
    display: flex;
    flex-direction: column;
    margin-right: 30vw;
}

.main-header{
    display: flex;
    background-color: white;
    padding: 4px 0 3px;
    margin-top: 20px;
}

.main-header-left{
    margin-left: 250px;
    width: 100px;
}

.main-header-right{
    width: 100px;
    margin-left: 250px;
}

.main-content{
    display: flex;
}

.main-content::after{
    width: 96%;
    height: 1.2px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.229);
}

.main .main-content:last-child::after{
    height: 0;
}

.main-content-left{
    width: 55%;
}

.main-content-right{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    display: flex;
    margin: 3rem 0;
}

.item-pic{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-pic img{
    width: 100%;
    border-radius: 10px;
}

.item-txt{
    padding-left: 1.8rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
}

.item-txt h3{
    text-align: end;
}

.main-sub{
    width: 200px;
    position: fixed;
    top: 80px;
    left: 80vw;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    height: 200px;
}

.main-sub-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.checkout-btn{
    margin-top: 50px;
}

.checkout-btn, .checkout-back{
    background-color: #1D85E7;
    color: white;
    display: block;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
}

.checkout .main .main-title{
    justify-content: start;
    margin-bottom: 1.4rem;
}

.main form h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0.7rem;
}

.main form input{
    border: none;
    padding: 0.4rem 1rem;
    width: 80%;
    margin-bottom: 1rem;
    outline: none;
}

.main form textarea{
    width: 100%;
    outline: none;
    resize: none;
}

.checkout-form-pic{
    display: flex;
    justify-content: end;
    margin-top: 1.2rem;
    margin-bottom: -1rem;
}

.checkout .main-btn{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.checkout .main-btn a{
    width: 200px;
}

.footer{
    background-color: #177ede;
    width: 100vw;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 300px;
}
#userid{
    display: flex; /* 讓 span 元素變成 inline-block 類型，可以應用 width */
    height: 60px; /* 設置 span 元素的寬度為 100px */
    justify-content: center;
    align-items: center;
    font-size: 16px; /* 調整文字大小 */
    color:white;
    padding: 0 12px;
}