*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    height: 100%;
}

.header{
    background-color: #034A8C;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
}

.header-left{
    display: flex;
    align-items: center;
}

.header-left img{
    width: 40px;
    background-color: #034A8C;
}

.header-left h1{
    font-size: 24px;
    color: white;
    text-decoration: none;
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
}

.header-user{
    display: flex;
}

.header-user a{
    padding: 0 12px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-user a:hover{
    color: #034A8C;
    background-color: white;
}

.header-icon{
    height: 60px;
    display: flex;
    align-items: center;
}

.header-icon img{
    height: 40px;
    width: 40px;
    margin: 0 2px;
}

.header-icon a:hover{
    background-color: #034A8C;
}

.header-left label{
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

.header-left img{
    width: 20px;
    height: 20px;
}

span#userid{
    font-size: 20px;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin-bottom: -40px;
}

.body-sidebar{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    position: fixed;
    z-index: 98;
    top: 0;
}

.sidebar-content {
    width: 265px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
    position: absolute;
    z-index: 99;
    transform: translateX(-100%);
    transition: 0.5s;
    background-color: #c0c0c0;
}

#sidebar-active {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

#sidebar-active:checked+#sidebar-content {
    transform: translateX(0);
}

:root {
    --primary-color: #695CFE;
    --primary-color-light: #034A8c	;
    --text-color: #034A8C;
    --sidebar-color:white ;
  }

.sidebar .text {
    font-size: 16px;
    font-weight: 1000;
    columns: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--sidebar-color);
    transition: var(--tran-05);
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar .search-box {
    background: var(--primary-color-light);
    border-radius: 6px;
}

.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    background: var(--primary-color-light);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

.menu-links .nav-link {
    border-bottom: 1px solid #c0c0c0;
}

.body-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 60px;
    padding-bottom: 80px;
}

.content-board{
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

ul.slides{
    width: 1400px;
    height: 500px;
    list-style: none;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

ul.slides input{
    position: relative;
    display: none;
}

li.slide{
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
    background-color: #ededed;
}

li.slide img{
    width: inherit;
    height: inherit;
}

li.slide:nth-of-type(2){
    left: 100%;
}

li.slide:nth-of-type(3){
    left: 200%;
}

.controls-visible{
    position: absolute;
    width: 100%;
    bottom: 12px;
    text-align: center;
}

.controls-visible label{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 3px;
    border: solid 2px white;
}

.slides input[type="radio"]:nth-of-type(1):checked ~ .slide {
    transform: translatex(0%);
}
  
.slides input[type="radio"]:nth-of-type(2):checked ~ .slide {
    transform: translatex(-100%);
}
  
.slides input[type="radio"]:nth-of-type(3):checked ~ .slide {
    transform: translatex(-200%);
}

.navigator{
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    width: 100%;
    z-index: 80;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    display: none;
}

ul.slides label{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
    width: 100px;
}

ul.slides label img{
    height: 50px;
    width: 50px;
}
  
.slides input[type="radio"]:nth-of-type(1):checked ~ .navigator:nth-of-type(1) {
    display: flex;
}
  
.slides input[type="radio"]:nth-of-type(2):checked ~ .navigator:nth-of-type(2) {
    display: flex;
}
  
.slides input[type="radio"]:nth-of-type(3):checked ~ .navigator:nth-of-type(3) {
    display: flex;
}

.content-rec{
    height: 500px;
    width: 1400px;
    border-radius: 20px;
    margin: 20px 0;
    padding: 50px 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-chart{
    height: 500px;
    width: 1400px;
    border-radius: 20px;
    margin: 20px 0;
    padding: 50px 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-chart canvas{
    width: 1200px;
    height: 400px;
}

.rec{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.rec a{
    text-decoration: none;
    width: 300px;
    margin: 0 80px;
}

.rec-block{
    width: 300px;
    height: 400px;
    border-radius: 10px;
    background:linear-gradient( 45deg, white, #FFE0B1);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.rec-tea{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.rec-tea .rec-block{
    margin: 0 80px;
}

.rec-block h2{
    margin: 60px 0;
    color: black;
}

.rec-block img{
    width: 240px;
    height: 200px;
    border-radius: 10px;
}

.content-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.icon-main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.icon-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 80px;
}

.icon-block img{
    background-color: white;
    padding: 20px;
    border-radius: 100%;
    width: 100px;
    margin-bottom: 20px;
}

.footer{
    background-color: #177ede;
    width: 100vw;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    margin-top: 100px;
}

#userid{
    display: flex; /* 讓 span 元素變成 inline-block 類型，可以應用 width */
    height: 60px; /* 設置 span 元素的寬度為 100px */
    justify-content: center;
    align-items: center;
    font-size: 16px; /* 調整文字大小 */
    color:white;
    padding: 0 12px;
}

