*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    height: 100%;
}

.header{
    background-color: #034A8C;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
}

.header-left{
    display: flex;
    align-items: center;
}

.header-left img{
    width: 40px;
    background-color: #034A8C;
}

.header-left h1{
    font-size: 24px;
    color: white;
    text-decoration: none;
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
}

.header-user{
    display: flex;
}

.header-user a{
    padding: 0 12px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-user a:hover{
    color: #034A8C;
    background-color: white;
}

.header-icon{
    height: 60px;
    display: flex;
    align-items: center;
}

.header-icon img{
    height: 40px;
    width: 40px;
    margin: 0 2px;
}

.header-icon a:hover{
    background-color: #034A8C;
}

.header-left label{
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

.header-left img{
    width: 20px;
    height: 20px;
}

span#userid{
    font-size: 20px;
}

.body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: -40px;
}

.body-sidebar{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    position: fixed;
    z-index: 98;
    top: 0;
}

.sidebar-content {
    width: 260px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
    position: absolute;
    z-index: 99;
    transform: translateX(-100%);
    transition: 0.5s;
    background-color: #c0c0c0;
}

#sidebar-active {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

#sidebar-active:checked+#sidebar-content {
    transform: translateX(0);
}

:root {
    --primary-color: #695CFE;
    --primary-color-light: #034A8c	;
    --text-color: #034A8C;
    --sidebar-color:white ;
  }

.sidebar .text {
    font-size: 16px;
    font-weight: 1000;
    columns: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--sidebar-color);
    transition: var(--tran-05);
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar .search-box {
    background: var(--primary-color-light);
    border-radius: 6px;
}

.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    background: var(--primary-color-light);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

.menu-links .nav-link {
    border-bottom: 1px solid #c0c0c0;
}

.body-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 60px;
    padding-bottom: 80px;
}

.body-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 60px;
    padding-bottom: 80px;
}

.content-up{
    width: 1000px;
    background-color: white;
    margin-top: 40px;
    max-height: 550px;
    scrollbar-width:thin;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}

.up-topic{
    font-size: 35px;
    font-weight: bold;
    display: flex;
    
    margin: 20px 0px 0px 60px;
}

.down-body{
    display: flex;
    flex-direction: row;
    margin: 40px 0px 40px 60px;
}

.down-body1{
    background-color: #034A8C;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    border-radius: 10px;
}

.down-body2 #select{
    width: 210px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin-left: 40px;
    font-size: 15px;
    background-color:#d9d9d9;
    font-weight: bold;
    padding-left: 10px;
}

.down-body2 input{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin-left: 40px;
    font-size: 15px;
    background-color:#d9d9d9;
    padding-left: 10px;
}

.up-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

/* .button1 button{
    width:200px;
    font-size: 25px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    background-color: #777777;
    border: none;
    border-radius: 10px;
} */

.button1{
    display: flex;
    justify-content: space-around;
    width: 600px;
    margin-top: 20px;
}

.block-input{
    width: 200px;
    height: 50px;
    font-size: 25px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #034A8C;
    border: none;
    border-radius: 10px;
    color: white;
    text-shadow: 1px 1px 1px #000;
    cursor: pointer;
}

.content-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 120px;
}

.content-right iframe{
    background-color: rgb(236, 173, 173);
    border-radius: 10px;
    width: 380px;
    min-height: 240px;
    margin-bottom: 20px;
    margin-top: 60px;
}

.right2{
    font-size: 25px;
    font-weight: bold;
}
.footer{
    background-color: #177ede;
    width: 100vw;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#userid{
    display: flex; /* 讓 span 元素變成 inline-block 類型，可以應用 width */
    height: 60px; /* 設置 span 元素的寬度為 100px */
    justify-content: center;
    align-items: center;
    font-size: 16px; /* 調整文字大小 */
    color:white;
    padding: 0 12px;
  }