*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

.header{
    background-color: #034A8C;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
}

.header-left{
    display: flex;
    align-items: center;
}

.header-left img{
    width: 40px;
    background-color: #034A8C;
}

.header-left h1{
    font-size: 24px;
    color: white;
    text-decoration: none;
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
}

.header-user{
    display: flex;
}

.header-user a{
    padding: 0 12px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-user a:hover{
    color: #034A8C;
    background-color: white;
}

.header-icon{
    height: 60px;
    display: flex;
    align-items: center;
}

.header-icon img{
    height: 40px;
    width: 40px;
    margin: 0 2px;
}

.header-icon a:hover{
    background-color: #034A8C;
}

.header-left label{
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

.header-left img{
    width: 20px;
    height: 20px;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.body-sidebar{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    position: fixed;
    z-index: 98;
    top: 0;
}

.sidebar-content {
    width: 260px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
    position: absolute;
    z-index: 99;
    transform: translateX(-100%);
    transition: 0.5s;
}

#sidebar-active {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

#sidebar-active:checked+#sidebar-content {
    transform: translateX(0);
}

:root {
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --text-color: white;
    --sidebar-color: #3c7acc;
}

.sidebar .text {
    font-size: 16px;
    font-weight: 1000;
    columns: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--sidebar-color);
    transition: var(--tran-05);
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar .search-box {
    background: var(--primary-color-light);
    border-radius: 6px;
}

.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    background: var(--primary-color-light);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

.menu-links .nav-link {
    border-bottom: 1px solid #c0c0c0;
}

.body-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 38px;
}

.body-login{
    background-color: white;
    margin-top: 80px;
    width: 650px;
    height: 500px;
    border-radius: 30px;
}

.body-login-title{
    height: 100px;
    border-bottom: solid #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-login-form{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.body-login-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-login-form input{
    border: solid #ededed;
    height: 40px;
    width: 500px;
    border-radius: 8px;
    margin: 10px 0;
    padding: 5px 10px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.body-login-form input[class=submit]{
    background-color: #034A8C;
    color: white;
    font-size: 24px;
    width: 150px;  
    height: 60px;
    margin-top: 60px;
    justify-content: center;
    border: none;
    float: center;
    cursor: pointer;
}

#forgot{
    text-decoration: none;
    color: #034A8C;
    margin-left: 450px;
}

#signup{
    text-decoration: none;
    color: #808080
}