*{
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
}

.header{
  background-color: #034A8C;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
}

.header-left{
  display: flex;
  align-items: center;
}

.header-left img{
  width: 40px;
  background-color: #034A8C;
}

.header-left h1{
  font-size: 24px;
  color: white;
  text-decoration: none;
  height: 60px;
  padding: 0 30px;
  display: flex;
  align-items: center;
}

.header-user{
  display: flex;
}

.header-user a{
  padding: 0 12px;
  font-size: 16px;
  color: white;
  text-decoration: none;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-user a:hover{
  color: #034A8C;
  background-color: white;
}

.header-icon{
  height: 60px;
  display: flex;
  align-items: center;
}

.header-icon img{
  width: 40px;
}

.header-icon a:hover{
  background-color: #034A8C;
}

.header-left label{
  display: flex;
  justify-content: center;
  margin: 0 10px;
}

.header-left img{
  width: 20px;
  height: 20px;
}

span#userid{
  font-size: 20px;
}

.body{
  display: flex;
}

.body-sidebar{
  background-color: white;
  width: 260px;
  height: 100vh;
  float: left;
  overflow-y: scroll;
  position: fixed;
  margin-top: 60px;
  z-index: 99;
  display: flex;
  flex-direction: column;
}

.sidebar-content{
  margin: 10px 0 60px 10px;
}

.body-sidebar .block{
  width: 240px;
  display: flex;
  align-items: center;
  font-size: 30px;
}

.block span.num{
  width: 40px;
  margin-right: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: end;
  color: #034A8C;
}

.block span.opt{
  width: 40px;
  display: flex;
  align-items: center;
}

span.wrong{
  display: flex;
  align-items: center;
}

.block span.wrong img{
  display: flex;
}

.block img{
  width: 40px;
  margin-left: 10px;
  display: none;
}

  .body-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 80px;
    margin-left: 300px;
  }

  .body-score{
    margin-top: 10px;
    width: 1000px;
    font-size: 20px;
  }

  .body-score h3{
    margin: 2px 0;
  }

  .body-score h3:nth-of-type(3){
    color: red;
  }
  
  .body-exam{
    background-color: white;
    margin-top: 20px;
    width: 1100px;
    height: 320px;
    border-radius: 30px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
  }
  
  .body-exam-que{
    width: 1200px;
    padding: 30px;
  }
  
  .stu-ans{
    display: flex;
    align-items: center;
  }

  .stu-ans h3{
    margin-right: 20px;
  }

  #studentans{
    color: red;
  }

  .question ul{
    list-style: none;
    margin-top: 40px;
  }
  
  .question li{
    margin: 20px 0 0 20px;
    font-size: 24px;
  }
  
  .question input[type=radio]{
    display: none;
  }

  .body-exam #star{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../image/Star.png);
    width: 80px;
    height: 60px;
    margin: 10px 40px;
  }
  
  .body-exam #star:checked{
    background: url(../image/Star_fill.png);
  }

  .exam-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 200px;
  }

  .exam-right span{
    width: 40px;
  }

  /* .body-ans form{
    margin-top: 20px;
    width: 760px;
    display: flex;
    justify-content: space-between;
  }
  
  .body-ans input:hover{
    cursor: pointer;
  } */
  
  #A{
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    display: inline-block;
    width: 100px;
    height: 60px;
    margin: 15px 5px 0 0;
    background: url(../image/A.png);
    background-size: cover;
  }
  
  #A:checked{
    background: url(../image/A\ \(1\).png);
    background-size: cover;
  }
  
  #B{
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    display: inline-block;
    width: 100px;
    height: 60px;
    margin: 15px 5px 0 0;
    background: url(../image/B.png);
    background-size: cover;
  }
  
  #B:checked{
    background: url(../image/B\ \(1\).png);
    background-size: cover;
  }
  
  #C{
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    display: inline-block;
    width: 100px;
    height: 60px;
    margin: 15px 5px 0 0;
    background: url(../image/C.png);
    background-size: cover;
  }
  
  #C:checked{
    background: url(../image/C\ \(1\).png);
    background-size: cover;
  }
  
  #D{
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    display: inline-block;
    width: 100px;
    height: 60px;
    margin: 15px 5px 0 0;
    background: url(../image/D.png);
    background-size: cover;
  }
  
  #D:checked{
    background: url(../image/D\ \(1\).png);
    background-size: cover;
  }
  
  .body-next{
    margin-top: 30px;
    width: 1100px;
    display: flex;
    justify-content: space-between;
  }
  
  .body-next button{
    width: 80px;
    height: 40px;
    font-size: 20px;
    background-color: #034A8C;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  #userid{
    display: flex; /* 讓 span 元素變成 inline-block 類型，可以應用 width */
    height: 60px; /* 設置 span 元素的寬度為 100px */
    justify-content: center;
    align-items: center;
    font-size: 16px; /* 調整文字大小 */
    color:white;
    padding: 0 12px;
  }