*{
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
  height: 100%;
}

.header{
  background-color: #034A8C;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
}

.header-left{
  display: flex;
  align-items: center;
}

.header-left img{
  width: 40px;
  background-color: #034A8C;
}

.header-left h1{
  font-size: 24px;
  color: white;
  text-decoration: none;
  height: 60px;
  padding: 0 30px;
  display: flex;
  align-items: center;
}

.header-user{
  display: flex;
}

.header-user a{
  padding: 0 12px;
  font-size: 16px;
  color: white;
  text-decoration: none;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-user a:hover{
  color: #034A8C;
  background-color: white;
}

.header-icon{
  height: 60px;
  display: flex;
  align-items: center;
}

.header-icon img{
  height: 40px;
  width: 40px;
  margin: 0 2px;
}

.header-icon a:hover{
  background-color: #034A8C;
}

.header-left label{
  display: flex;
  justify-content: center;
  margin: 0 10px;
}

.header-left img{
  width: 20px;
  height: 20px;
}

span#userid{
  font-size: 20px;
}

.body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin-bottom: -40px;
}

.body-sidebar{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  position: fixed;
  z-index: 98;
  top: 0;
}

.sidebar-content {
  width: 260px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 50px 10px;
  position: absolute;
  z-index: 99;
  transform: translateX(-100%);
  transition: 0.5s;
  background-color: #c0c0c0;
}

#sidebar-active {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

#sidebar-active:checked+#sidebar-content {
  transform: translateX(0);
}

:root {
  --primary-color: #695CFE;
  --primary-color-light: #034A8c	;
  --text-color: #034A8C;
  --sidebar-color:white ;
}

.sidebar .text {
  font-size: 22px;
  font-weight: 1000;
  columns: var(--text-color);
  transition: var(--tran-03);
  white-space: nowrap;
  opacity: 1;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background-color: var(--sidebar-color);
  transition: var(--tran-05);
}

.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
  color: var(--text-color);
  transition: var(--tran-02);
}

.sidebar .search-box {
  background: var(--primary-color-light);
  border-radius: 6px;
}

.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 6px;
  background: var(--primary-color-light);
}

.sidebar li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
  transition: var(--tran-04);
}

.sidebar li a:hover {
  background: var(--primary-color-light);
  
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}

.menu-links .nav-link {
  border-bottom: 1px solid #c0c0c0;
}

.body-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 60px;
  padding-bottom: 80px;
}

.userdata {
  width: 800px;
  height: 550px;
  background-color: #ffffff;
  margin-top: 40px;
  border-radius: 20px;
  box-shadow: 1px 1px 20px -3px;
  padding: 20px;
  flex-direction: row;
  border: #034a8c solid 8px;
}

.content-left {
  margin-left: 20px;
}

.content-left-up {
  font-size: 30px;
  margin: 5px 0px 20px 5px;
  font-weight: bold;
  color: #034a8c;
}

.content-left-down {
  background-color: #034A8C;
  width: 200px;
  height: 480px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.down-block {
  width: 150px;
  height: 40px;
  background-color: #ffffff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 20px 0;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.content-right {
  margin-left: 270px;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 546px;
  margin-left: 270px;
  overflow-x: hidden;
  max-height: 550px;
  scrollbar-width: thin;
}

.content-right-up {
  margin: 25px;
  font-weight: bold;
  color: #637e80;
  display: flex;
}

.content-down1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
  height: 80px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  background-color: #034A8C;
  color: white;
  margin-top: 20px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
}

.content-down {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    background-color: #034A8C;
    color: white;
    margin-top: 20px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
  }

.content-down1 input {
  width: 480px;
  margin: 2px;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
  border: none;
}
.content-down1 p {
  margin: 2px;
  font-size: 20px;
  padding: 5px;
}

.content-right-down {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  margin-right: 10px;
}

.content-right-down button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background-color: #034A8C;
  color: white;
  cursor: pointer;
}

.down1 {
  padding-left: 10px;
}

.content-bottom {
  width: 510px;
  height: 110px;
  background-color: #e2feff;
  margin-top: 40px;
  border-radius: 10px;
}

.bottom1 {
  background-color: #d9d9d9;
  width: 70px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 7px;
}

.content-bottom2 a {
  text-decoration: none;
  color: black;
}
.content-bottom1 {
  font-size: 20px;
  color: black;
  padding: 3px 0px 8px 11px;
}

.content-bottom2 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.mid {
  width: 500px;
  height: 50px;
  background-color: #e2feff;
  margin-top: 40px;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 3px 0px 8px 11px;
}

.mid input {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  width: 400px;
  height: 30px;
  margin: 10px 5px 5px 30px;
}
.mid select {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  width: 400px;
  height: 30px;
  margin: 10px 5px 5px 30px;
  font-size: 15px;
}
.mid #month {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  width: 150px;
  height: 30px;
  margin: 10px 5px 5px 30px;
  font-size: 15px;
}

.footer {
  background-color: #177ede;
  width: 100vw;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
}
.mid .year {
  display: flex;
  justify-content: center;
  margin-left: 190px;
}

.mid .name {
  display: flex;
  justify-content: center;
  margin-left: 180px;
}

.mid .months {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  margin-right: 80px;
}

.mid .days {
  display: flex;
  justify-content: center;
  margin-left: 110px;
  margin-right: 70px;
}
#userid{
  display: flex; /* 讓 span 元素變成 inline-block 類型，可以應用 width */
  height: 60px; /* 設置 span 元素的寬度為 100px */
  justify-content: center;
  align-items: center;
  font-size: 16px; /* 調整文字大小 */
  color:white;
  padding: 0 12px;
}


