*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}


.header{
    background-color: #034A8C;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
}

.header-left{
    display: flex;
    align-items: center;
}

.header-left button{
    width: 60px;
    height: 100%;
    margin: 0px 20px 0 10px;
    background-color: #034A8C;
    border: none;
}

.header-left img{
    width: 40px;
    background-color: #034A8C;
}

.header-left h1{
    font-size: 32px;
    color: white;
    text-decoration: none;
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
}

.header-user{
    display: flex;
}

.header-user a{
    padding: 0 8px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-user a:hover{
    color: #034A8C;
    background-color: white;
}

.header-icon{
    height: 60px;
    display: flex;
    align-items: center;
}

.header-left img{
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.body{
    display: flex;    
}

.body-sidebar{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    position: fixed;
}

.sidebar-content{
    width: 260px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
    position: absolute;
    z-index: 99;
    transform: translateX(-100%);
    transition: 0.5s;
}

#sidebar-active {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

#sidebar-active:checked + #sidebar-content {
    transform: translateX(0);
}

:root{
    --primary-color:#695CFE;
    --primary-color-light:#F6F5FF;
    --text-color:#707070;
    --sidebar-color:#d9d9d9;
}

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    columns: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--sidebar-color);
    transition: var(--tran-05);
}

.sidebar li{
    height:50px ;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar .search-box{
          background: var(--primary-color-light);
          border-radius: 6px;
}

.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--primary-color-light);

}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center ;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover{
    background: var(--primary-color-light) ;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
   color: var(--sidebar-color);
}

.body-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 38px;
}

.cat{
    padding: 40px;
    background-color: white;
    width: 1100px;
    margin-top: 60px;
    border-radius: 20px;
}

.cat label{
    margin: 15px;
    width: 600px;
    height: 50px;
    display: flex;
    justify-content:space-between ;
    font-size: 20px;
    align-items: center;
}

label >*{
     border-radius: 5px;
}

label div {
    width: 160px;
    height:100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

select,input,textarea{
    width: 400px;
    height:100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid #000000;
    font-size: 18px;
}

button{
    padding : 5px 50px;
    color: #ffffff;
    background-color: #0000007e;
    border: none;
    font-size: 30px;
    cursor: pointer;
    margin: 0px 20px;
    border-radius: 5px;
}

.snack{
    width: 1100px;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

input[type ="file"]{
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: auto;
}

.video{
    width: 350px;    
    position: absolute;
    top: 40px ;
    right: 40px;
    background-color: #fff;
    padding: 20px;
}
.video p{
    text-align: center;
    font-size: 20px;
    margin: 10px 0 ;
    font-weight: 700;
}
 
