*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);

}


.header{
    background-color: #034A8C;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
}

.header-left{
    display: flex;
    align-items: center;
}

.header-left button{
    width: 60px;
    height: 100%;
    margin: 0px 20px 0 10px;
    background-color: #034A8C;
    border: none;
}

.header-left img{
    width: 40px;
    background-color: #034A8C;
}

.header-left h1{
    font-size: 32px;
    color: white;
    text-decoration: none;
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
}

.header-user{
    display: flex;
}

.header-user a{
    padding: 0 8px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-user a:hover{
    color: #034A8C;
    background-color: white;
}

.header-icon{
    height: 60px;
    display: flex;
    align-items: center;
}

.header-left img{
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.body{
    display: flex;    
}

.body-sidebar{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    position: fixed;
}

.sidebar-content{
    width: 260px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
    position: absolute;
    z-index: 99;
    transform: translateX(-100%);
    transition: 0.5s;
}

#sidebar-active {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

#sidebar-active:checked + #sidebar-content {
    transform: translateX(0);
}

:root{
    --primary-color:#695CFE;
    --primary-color-light:#F6F5FF;
    --text-color:#707070;
    --sidebar-color:#d9d9d9;
}

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    columns: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--sidebar-color);
    transition: var(--tran-05);
}

.sidebar li{
    height:50px ;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar .search-box{
          background: var(--primary-color-light);
          border-radius: 6px;
}

.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--primary-color-light);

}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center ;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover{
    background: var(--primary-color-light) ;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
   color: var(--sidebar-color);
}

.body-content{
    margin-top: 60px;
}


.a1{
    display: flex;
    align-items: center;
    width: 200px;
    padding: 20px;
}
.register,.login{
    border: none;
    margin: 7px;
    height: 20px;
    width: 50px;
    background-color: #034A8C;
    color: white;
    font-size: 18px;

}
/* 使用者頭貼樣式 */
.shot img{
    background-color: #034A8C;
    height: 45px;
    width: 45px;

}
/* 畫面 */
.video{
    width: 100%;
    height: 550px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(37, 36, 36);
}
/* button {
    border: none;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    outline: none; 
}*/

.article{
    background-color: aliceblue;
    display: block;
}
.left {    
    width:70%;
    height: calc(100% - 40px);
    padding: 20px;
    float: left;
}

.container{
    margin-right:30px;
    padding: 200px;
    width: 500px;
    height: 130px;
}

.course{
    width:calc(100% - 40px);
    height: auto;
    font-size: 20px;
    background-color: white;
    margin-top: 20px;
    padding: 20px;

}
.right {
    width :calc(  30% - 60px  ) ;
    height:100%;
    padding-right: 20px;
    float: right;
}

.ad{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 716px;
    margin-top: 20px;
    margin-right: 10px;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:29px;
    border-bottom: 2px solid #e2dada;
    width: 100%;
    height:235px;
}

.baseball{
    
    width:calc(100% - padding) 100%;
    height: 65px;
    padding: 20px;
    display: flex;
    flex-direction: column;
   
    

}
.baseball:first-of-type{
    border-bottom: 2px solid #000;
    
}

.guitar{
    font-size: 18px;
    color: #808080;

}

.piano{
    font-size: 30px;
    justify-self: center;
    margin-top: 10px;
    
}


.join {
    height: 45px;
    width: calc(100% - margin);
    border: 1px solid rgb(27, 27, 213);
    margin: 30px;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.join:hover,.applepay:hover{
    background-color: #034A8C;
    color: white;
}

.applepay{
    height: 45px;
    width: calc(100% - margin);
    border: 1px solid rgb(27, 27, 213);
    margin: 30px;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  
    
}
footer {
    background-color: hsl(209, 96%, 28%);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    bottom: 0;
    margin-top: 40px;
    height: 24px;
    clear: both;

  }
main{
    height:840px;
}  

.ukulele{

    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}
 
.ukulele div{
    background-color: #fff;
    width: 100% ;
    height: 3px;
    border-radius: 10px;



}

.ukulele :nth-of-type(2){
    width: 80%;

    
}

.dog{
    width: 300px;
    display: flex;
    

}


